@import "../styles/vars";

div.invitations {
  background-color: white;

  table.invitations {

    thead {
      th {
        &.email {
          width: 25%;
        }

        &.authority {
          width: 20%;
        }

        &.status {
          width: 20%;
        }

        &.roles {
          width: 35%;
        }
      }
    }

    tbody {
      tr {
        td {
          span.open-invitation {
            color: $primary-green;
          }
        }
      }
    }
  }
}

