div.institutions {
  background-color: white;

  table.institutions {

    thead {
      th {
        &.name {
          width: 20%;
        }

        &.displayName {
          width: 30%;
        }

        &.applicationName {
          width: 25%;
        }

        &.auditable_createdAt {
          width: 25%;
        }

      }
    }

    tbody {
      td {
      }
    }
  }
}

