@import "../styles/vars";

.institution-guest {

  div.guest-applications {
    margin-bottom: 25px;

    p.attribute {
      margin-bottom: 6px;
    }

    span.new-role {
      color: $primary-green;
    }

    a {

      &.new-role {
        font-weight: bold;
      }
    }

    em.end-date {
      margin-bottom: 5px;
      display: block;
      font-size: 14px;
    }

  }
}