@import "../styles/vars.scss";
@import "../styles/forms.scss";

.invitation-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .invitation {
        margin: 0 auto;
        max-width: $mobile;
    }

    div.disclaimer {
        background-color: #fef595;
        padding: 25px;
        margin: 25px 0;
        font-size: 16px;
    }

    div.terms {
        margin: 25px 0;
        background-color: $background;
        padding: 15px;
    }

    section.error {
        margin: 40px 0;
        color: $primary-red;
    }


}