@import "../styles/vars";
@import "../styles/forms";

.profile-container {
  .profile {
    @include form;

    display: flex;
    flex-direction: column;

    .attributes {
      display: grid;
      grid-template-columns: 50% 50%;

      @media (max-width: $mobile) {
        grid-template-columns: 100%;
      }


      &.border-top {
        border-top: 1px solid $primary-grey;
        margin-top: 15px;
      }

    }

    p.attribute {
      font-weight: bold;
      margin-top: 20px;
    }

    div.user-role {
      margin-bottom: 5px;
    }

    h2.section-divider {
      margin: 25px 0 0 0;
      font-size: 20px;
    }
  }
}